.cards {
  font-size: 14px;
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 180px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
